:root {
	--bg-color: white;
	--bg-color-header: rgba(255, 255, 255, 0.8);
	--text-color: #000000;
	--accent-color: #2327a9;
	--box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	--swiper-theme-color: white;
	--semi-transparent: 0.5;
}

*:focus {
	outline-color: var(--accent-color);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration-color: transparent;
}

header {
	background-color: var(--bg-color-header);
}

input,
textarea {
	box-shadow: var(--box-shadow);
}

label {
	color: var(--accent-color);
}

button:not(.icon) {
	background-color: var(--accent-color);
	color: var(--bg-color);
	box-shadow: var(--box-shadow);
}

button:hover,
button:active,
button:focus {
	background-color: var(--bg-color);
	color: var(--accent-color);
}

iframe {
	box-shadow: var(--box-shadow);
}

button.icon,
button.icon:hover,
button.icon:active,
button.icon:focus {
	background-color: transparent;
}

label .optional {
	opacity: var(--semi-transparent);
}

li::before {
	color: var(--accent-color);
}

a.icon svg,
button.icon svg {
	fill: var(--text-color);
}

button.icon.burger svg {
	fill: var(--accent-color);
}

button.icon.zoom svg {
	fill: var(--swiper-theme-color);
}

.nav-links {
	background-color: var(--bg-color-header);
}

a.current {
	text-decoration-color: var(--accent-color);
}

.swiper-pagination-bullet {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

.swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}

.swiper.zoom {
	background-color: rgba(0, 0, 0, 0.75);
}

.animation-caption {
	text-shadow: 1px 1px var(--bg-color);
}

@media (hover: hover) {
	a:hover {
		text-decoration-color: var(--accent-color);
	}
	nav a:hover,
	.logo:hover {
		color: var(--text-color);
		text-decoration-color: var(--text-color);
	}
	button.icon.burger:hover svg {
		fill: var(--text-color);
	}

	a.icon:hover svg,
	button.icon:hover svg {
		fill: var(--accent-color);
	}
	.swiper-pagination-bullet:hover {
		background-color: var(--accent-color);
	}
	.swiper-nav:hover {
		color: var(--accent-color);
	}
}
