:root {
	--outer-padding: 1rem;
	--max-content-width: 1024px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25); */
}

*:focus {
	outline-offset: 2px;
}

html,
body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	position: relative;
	padding: var(--outer-padding);
}

header,
main,
footer,
section {
	margin: 0 auto;
}

header {
	width: 100%;
	max-width: var(--max-content-width);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	overflow: visible;
	position: relative;
	z-index: 10;
}

main {
	position: relative;
	max-width: var(--max-content-width);
	display: flex;
	flex-direction: column;
	gap: 3em;
	padding: 2em 0;
}

section {
	width: 100%;
}

article {
	width: 100%;
	margin: 2em auto;
}

ul {
	list-style-type: none;
}

button:not(:disabled) {
	cursor: pointer;
}

.logo {
	display: inline-block;
}

.logo,
a,
button,
.icon svg {
	transition: all 0.15s ease;
}

button.icon,
a.icon {
	height: 2em;
	width: fit-content;
	display: inline-block;
	position: relative;
}

button.icon {
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0;
}

button.icon svg,
a.icon svg {
	height: 100%;
	width: auto;
	overflow: visible;
}

main li::before {
	content: '#';
	display: inline-block;
	padding-right: 0.5em;
}
