:root {
	--main-font: 'Lexend', Arial, Helvetica, sans-serif;
	--input-font: 'Miriam Libre', 'Courier New', Courier, monospace;
	--font-size-body: 1rem;
	--font-size-h3: 1.3rem;
	--font-size-h2: 1.5rem;
	--font-size-h1: 2rem;
	--font-size-logo: 2.25rem;
}

* {
	line-height: 160%;
}

body {
	font-family: var(--main-font);
	font-size: var(--font-size-body);
}

a {
	text-decoration-thickness: 0.15em;
}

h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
h4 {
	font-size: var(--font-size-body);
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
}

p {
	margin-top: 1em;
}

.logo,
.project-links,
nav,
label,
h1,
h2,
h3,
h4 {
	text-transform: lowercase;
}

.nav-links {
	font-size: var(--font-size-h2);
	font-weight: 600;
	text-align: right;
}

li {
	font-weight: 500;
}
li::before {
	font-weight: 700;
	font-size: var(--font-size-h3);
}

input:not([type='submit']),
textarea {
	font-family: var(--input-font);
}

button {
	font-weight: 600;
}

button.icon {
	font-size: 0;
}

.logo {
	font-size: var(--font-size-logo);
	font-weight: 900;
	text-decoration: none;
	line-height: 90%;
}

.project-links {
	font-weight: 700;
}

.animation-caption {
	text-align: center;
	font-size: var(--font-size-h2);
	white-space: nowrap;
	font-weight: 900;
}

@media (min-height: 768px) and (max-width: 768px), (min-width: 768px) {
	.animation-caption {
		font-size: var(--font-size-h1);
	}
}

@media (min-width: 768px) {
	:root {
		--font-size-logo: 3rem;
	}
	.nav-links {
		text-align: center;
	}
	.project:nth-of-type(odd) .title {
		text-align: right;
	}
}
