:root {
	--swiper-navigation-size: 2rem;
	--swiper-pagination-bullet-size: 0.75rem;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 0.25rem;
	--swiper-width: 100%;
	--swiper-height: 50vh;
}

.swiper {
	width: var(--swiper-width);
	height: var(--swiper-height);
	max-width: 100%;
	max-height: 100vh;
	margin: 0 auto;
	position: relative;
	-webkit-touch-callout: none; /* Safari */
	-webkit-user-select: none; /* Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.swiper-slide {
	width: 100%;
	height: 100%;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button.zoom {
	position: absolute;
	width: var(--swiper-navigation-size);
	height: var(--swiper-navigation-size);
	top: 10px;
	right: 10px;
	z-index: 10;
	cursor: pointer;
	transform-origin: center;
	transition: transform 0.2s ease;
}

.swiper.zoom {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	padding: var(--outer-padding);
}

.swiper.zoom .swiper-slide img {
	object-fit: contain;
}

.swiper.zoom button.zoom {
	transform: rotate(45deg);
}
