section {
	max-width: 60ch;
}

.social h2 {
	text-align: center;
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 2em;
	padding-top: 0.5em;
}

@media (hover: hover) {
	button:hover {
		transform: scale(1.05);
	}
	a.icon:hover {
		transform: scale(1.1);
	}
}
