html,
body {
	height: 100vh;
}

.animation-container,
.caption-container {
	position: fixed;
	top: calc(var(--min-header-height) + var(--outer-padding));
	bottom: var(--outer-padding);
	left: var(--outer-padding);
	right: var(--outer-padding);
	z-index: -1;
	margin: 0 auto;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.animation-container {
	max-height: 100%;
	max-width: var(--max-content-width);
	margin: 0 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.caption-container {
	transform: rotate(90deg);
	z-index: 0;
	justify-content: center;
}

.show {
	opacity: 1;
}

.animation-caption {
	position: relative;
	min-width: fit-content;
	z-index: 0;
	padding: 0.5em;
	border-radius: 0.5em;
	transition: opacity 0.5s ease-in;
}

.smiley {
	display: block;
	position: relative;
	height: 25%;
	width: auto;
	transform-origin: center;
	animation: rotateShape 10s linear 0s infinite;
}

.smiley:nth-of-type(2) {
	animation-direction: reverse;
}

@keyframes rotateShape {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 600px), (max-height: 600px) {
	.caption-container {
		transform: rotate(0);
	}
}

@media (orientation: landscape) {
	.animation-container {
		flex-direction: row;
	}

	.smiley {
		width: 25%;
		height: auto;
	}

	.caption-container {
		transform: rotate(0);
	}
}
